html {
  scrollbar-width: none;
}

body {
  font-family: var(--font-family-base);
  letter-spacing: 0.02em;
  color: var(--color-gray);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-gray);
  text-decoration: none;
}

a:hover {
  color: var(--color-dark);
}
